

.homeBox{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7FB75C;
    width:100vw;
    height: 47vh;
    background-size: cover;
    margin-top:47vh;
    overflow: clip;
    padding:0;
  }
  
  .image{
    position: absolute;
    width: 100vw;
    height:45vh;
    background-size: contain;
    background-repeat: no-repeat;
    left: 8px;
    top: 70px;
  
  }
  
  
  .homeType{
    padding-left: 300px;
    text-align: center;
  
  }
  
  /*.circle {
    position: relative;
    top:-250px;
    left: 370px;
    background-color:#7FB75C;
    border:9px solid white;    
    height:50px;
    border-radius:50px;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    width:50px;
  }*/
  
  .homeBottomBox{
    position: relative;
    border-radius: 20px;
    margin-top: 00px;
    width: 1050px;
    height: 350px;
    background-color: rgba(40, 137, 86, 0.635);
    padding-left: 25px;
    overflow: hidden;
  } 
  
  .descp{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    justify-content: center;
    position: relative;
    color: whitesmoke;
    padding-left:30px;
  }