

.createAccount{  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7FB75C;
  height: 93vh;
  width:100vw;
  background-size: cover;
  margin:0;
  padding:0;
}

.createAccountBox{
  border-radius: 20px;
  margin-top: 7rem;
  width: 350px;
  height: 500px;
  background-color: white;
  padding-left: 25px;
}

.createAccountHeader{
  align-items: center;
  justify-self: center;
  display: flex;
  font-size: xx-large;
  font-weight: bolder;
  margin-bottom: 30px;
}

.input{
  padding: 20px;
}

.username{
  width: 90%;
  height: 40px;
  border-radius: 6px;
  border-width: 1;
  margin-bottom: 20px;
  background-color: #f8efefce;

}
.email{
  width: 90%;
  height: 40px;
  border-radius: 6px;
  border-width: 1;
  margin-bottom: 20px;
  background-color: #f8efefce;

}
.password{
  width: 90%;
  height: 40px;
  border-radius: 6px;
  border-width: 1;
  margin-bottom: 20px;
  background-color: #f8efefce;

}
.confirmPassword{
  width: 90%;
  height: 40px;
  border-radius: 6px;
  border-width: 1;
  margin-bottom: 20px;
  background-color: #f8efefce;

}

#selectType{
  width: 92%;
  height: 40px;
  border-radius: 6px;
  border-width: 1;
  margin-bottom: 20px;
  background-color: #f8efefce;
  color: gray;
}

.submit{
  width: 92%;
  height: 40px;
  border-radius: 6px;
  border-width: 1;
  margin-bottom: 20px;
  font-weight: bold;
  background-color: lightgrey;
}

.submit:hover{
  background-color: darkgray;
  color: black;
}

.navigation{
  display: flex;
  width: 100%;
  margin-bottom: 1px;
}

.logo{
  display: flex;
}
.logo img{
  height: 55px;
  width:70px;
  mix-blend-mode: multiply;
}
.logo a{
  padding-left: 20px;
  top: 1px;
  white-space: nowrap;
  font-size: 2em;
  font-weight: bold;
}
.logo a #give{
  font-family: 'Courier New', Courier, monospace;
  color: black;
}
.logo a #good{
  font-family: 'Itim';
  color:darkgreen
}


.buttons{
  display: flex;
  justify-content: end;
  width: 100%;
}
.buttons a{
  font-family: 'Courier New', Courier, monospace;
  color: whitesmoke;
  text-align: center;
  font-weight: bold;
  text-decoration: none;

  background-color: black;
  height: fit-content;
  width: 70px;
  margin: 5px;
  border-radius: 5px;
}